/* Enter your custom styles here */
.loginPage {
	background-image: url('../images/background/login.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
	margin-top: 30px;
	margin-bottom: 30px;
}

.loginButtons {
	padding: 10px;
}

.loginTiles
{
	font-color: white;
	font-weight: bold;
	text-align: center;
	background: url('../images/circle.svg');
    background-size: cover;
    background-repeat: no-repeat;
     border: none;
     box-shadow: none;
    
}

.loginTilesContainer {
	font-color: white;
	text-align: center;
}

.loginLabelUser {
	font-weight: bold;
}

.loginLabelPoints {
	font-style: italic;
}