html,
body {
    height: 100%;
}

.sapMScrollContScroll {
    height: 100%;
    vertical-align: bottom;
}

.sapMLIB {

     border:none;

}



/* Enter your custom styles here */

.loginPage {
    background-image: url('../images/background/login.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    margin-top: 30px;
    margin-bottom: 30px;
}

.loginButtons {
    padding: 10px;
}

.loginTiles {
    font-color: white;
    font-weight: bold;
    text-align: center;
    background: url('../images/circle.svg');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    box-shadow: none;
}

.sapMScrollContScroll {
    vertical-align: bottom;
    text-align: center;
}

.loginTilesContainer {
    font-color: white;
    text-align: center;
}

.loginLabelUser {
    font-weight: bold;
}

.loginLabelPoints {
    font-style: italic;
}

.gamePage {
    background-size: cover;
    background-repeat: no-repeat;
}

.gamePageSoccer
{
background-repeat: no-repeat;
  background-image: url('../images/background/soccer.svg');	
}
  
.gamePageBeach
{
background-size: cover;
background-repeat: no-repeat;
  background-image: url('../images/background/beach2.svg');	
}

.gamePageRoom
{
background-size: cover;
background-repeat: no-repeat;
  background-image: url('../images/background/room.svg');	
}


.gameCharacter {
    margin-top: 20%;
}

.gameTube {
    margin-left: 30%;
    margin-top: 40%;
}

.gameParasol {
    margin-left: 22%;
    margin-top: 30%;
}

.gameBambooIcon {
	margin-top: 2%;
    margin-left: 35%;
}

.quiz {
	margin-top: 20%;
    display:block;
    visibility: visible;
}
.gameUvIcon {
	margin-top: 2%;
    margin-left: 20%;
}

.UvIndex {
	margin-top: 2%;
}

.Score {
	width: 20%;
}

.Bamboos {
	margin-top: 2%;
    margin-left: 68%;
}

.gameHatIconLady, .gameHatIconWestern, .gameHatIconCowboy, .gameHatIconWitch {
    margin-top: 20%;
    margin-left: 42%;
    height: 5%;
}

.gameHat
{
	margin-top: 10%;
}

.gameHatIconWestern
{
	margin-top: 40%;
}

.gameHatIconCowboy
{
		margin-top: 30%;
}

.gameHatIconLady
{
		margin-top: 50%;
}

.gameMessage {
    margin-left: -22%;
    margin-top: 0%;
    z-index: 100;
    display:block;
    visibility: visible;
}

.overlayContainer {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
}

.overlayContainer img {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
}